<table>
    <tr>
        <td>
            Марка
        </td>
        <td *ngIf="selectedBrandId!=null">
            Модель
        </td>
    </tr>
    <tr>
        <td>
            <select name="brandsSelect" [(ngModel)]="selectedBrandId" (ngModelChange)="brandSelected()">
                <option [value]="null" disabled selected>Выберите марку</option>
                <option *ngFor="let brand of brands" [value]="brand.id">
                    {{brand.name}}
                </option>
            </select>
        </td>
        <td>
            <select *ngIf="selectedBrandId!=null" name="modelsSelect" [(ngModel)]="selectedModelId" (ngModelChange)="modelSelected()">
                <option [value]="null" disabled selected>Выберите модель</option>
                <option *ngFor="let m of modelsOfSelectedBrand" [value]="m.id">
                    {{m.name}}
                </option>
            </select>

        </td>
    </tr>
</table>


